[submodule "lab15"]
	path = lab15
	url = https://github.com/nupp-dudnik/oop-2024
	branch = lab15
[submodule "lab16"]
	path = lab16
	url = https://github.com/nupp-dudnik/oop-2024
	branch = lab16
[submodule "lab17"]
	path = lab17
	url = https://github.com/nupp-dudnik/oop-2024
	branch = lab17
[submodule "lab18"]
	path = lab18
	url = https://github.com/nupp-dudnik/oop-2024
	branch = lab18
[submodule "lab19"]
	path = lab19
	url = https://github.com/nupp-dudnik/oop-2024
	branch = lab19
[submodule "lab20"]
	path = lab20
	url = https://github.com/nupp-dudnik/oop-2024
	branch = lab20
[submodule "lab23"]
	path = lab23
	url = https://github.com/nupp-dudnik/oop-2024
	branch = lab23
[submodule "lab24"]
	path = lab24
	url = https://github.com/nupp-dudnik/oop-2024
	branch = lab24
[submodule "lab29"]
	path = lab29
	url = https://github.com/nupp-dudnik/oop-2024
	branch = lab29
